In [27]:
import pandas as pd

In [33]:
data = pd.DataFrame({'A': [1, 2, 3], 'B': ['a', 'b', 'c']})
data

   A  B
0  1  a
1  2  b
2  3  c

In [34]:
data = data.set_index('B')
data

   A
B
a  1
b  2
c  3

In [37]:
#data['B'] = data.index
data

   A
B
a  1
b  2
c  3

In [38]:
data.reset_index(drop=False)

   B  A
0  a  1
1  b  2
2  c  3