In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame({
    'A': [1,2,3],
    'B': [4,5,6]
})
df

   A  B
0  1  4
1  2  5
2  3  6

# Apply pour retourner plusieurs colonnes d'un coup

In [5]:
# Naïvement
# ne marche pas, la preuve:
df2 = df.copy()

df2[['D', 'C']] = df.apply(lambda row: pd.Series({'C': row['A'], 'D': row['B']}), axis=1)
df2

# à D devait être affecté les valeurs de B, or D contient A
# à C devait être effecté les valeurs de A, or C contient B

   A  B  D  C
0  1  4  1  4
1  2  5  2  5
2  3  6  3  6

In [6]:
# Solution : En utilisant merge
# http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html
# source: http://stackoverflow.com/questions/16236684/apply-pandas-function-to-column-to-create-multiple-new-columns
df3 = df.copy()

applied = df3.apply(lambda row: pd.Series({'C': row['A'], 'D': row['B']}), axis=1) # return DataFrame
df3 = pd.merge(df3, applied, left_index=True, right_index=True) # merge sur l'égalité des index
df3

   A  B  C  D
0  1  4  1  4
1  2  5  2  5
2  3  6  3  6

# Apply, applymap et map

* `apply` works on a row / column basis of a DataFrame
* `applymap` works element-wise on a DataFrame
* `map` works element-wise on a Series.

http://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas

# Assign

In [10]:
# Autre moyen plus formel de créer des nouvelles colonnes
df.assign(E = lambda row: row['A'] + row['B'], F = 0)

   A  B  E  F
0  1  4  5  0
1  2  5  7  0
2  3  6  9  0