In [1]:
import pandas as pd
import numpy as np

In [5]:
data = pd.DataFrame({
    'A': [1,2,2,1,2,2],
    'B': [1,2,3,4,5,6],
    'C': ['yes', 'no', 'yes', 'no', 'yes', 'no']
})
data

   A  B    C
0  1  1  yes
1  2  2   no
2  2  3  yes
3  1  4   no
4  2  5  yes
5  2  6   no

# Grouping

In [5]:
data.groupby(['A', 'C']).groups

{(1, 'no'): Int64Index([3], dtype='int64'),
 (1, 'yes'): Int64Index([0], dtype='int64'),
 (2, 'no'): Int64Index([1, 5], dtype='int64'),
 (2, 'yes'): Int64Index([2, 4], dtype='int64')}

In [6]:
len(data.groupby(['A', 'C']))

4

In [13]:
# Nombre de ligne dans chaque cas
data.groupby(['A', 'C']).size()

A  C
1  no     1
   yes    1
2  no     2
   yes    2
dtype: int64

In [16]:
# Les valeurs NaN ne permettent pas de créer un group 
df = data.mask(data == 2, np.nan) # insert NaN where any data value equals 2
groups = df.groupby('A')
print(len(groups))
for index, group in groups:
    print(index)
    print(group)

1
1.0
     A    B    C
0  1.0  1.0  yes
3  1.0  4.0   no

# Aggregation

In [8]:
groups = data.groupby('A')

In [9]:
groups.apply(lambda df: df.shape[0])

A
1    2
2    4
dtype: int64

In [14]:
# appliquer une fonction d'aggrégation sur chaque groupe avec agg() (ou aggregate())
groups.agg(sum)

    B
A
1   5
2  16

In [17]:
# appliquer plusieurs fonctions d'aggrégation
groups.agg([lambda df: df.sum(), lambda df: (df['C'] == 'yes').sum()])

SpecificationError: Function names must be unique, found multiple named <lambda>