In [44]:
import numpy as np
import pandas as pd

In [45]:
df = pd.DataFrame({
    'A': [1,2,np.nan],
    'B': [3,4,5],
    'C': [np.nan,6,7]
})
df

     A  B    C
0  1.0  3  NaN
1  2.0  4  6.0
2  NaN  5  7.0

In [46]:
# any NaN values among the different cols for each row ?
pd.isnull(df).any(axis=1)

0     True
1    False
2     True
dtype: bool

In [47]:
df[pd.isnull(df).any(axis=1)]

     A  B    C
0  1.0  3  NaN
2  NaN  5  7.0