In [27]:
import pandas as pd

In [28]:
data = pd.DataFrame({'A': [1, 2, 3], 'B': ['a', 'b', 'c']})
data

   A  B
0  1  a
1  2  b
2  3  c

In [29]:
data = data.set_index('B')
data

   A
B
a  1
b  2
c  3

In [30]:
data['B'] = data.index
data

   A  B
B
a  1  a
b  2  b
c  3  c

In [31]:
data.reset_index(drop=True)

   A  B
0  1  a
1  2  b
2  3  c